.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-area {
  max-width: 180px;
}
.header-top-meta {
  font-size: small;
  text-align: right;
  color: $primary;

  a {
    color: $primary;
    font-weight: 600;

    &:hover, &:active {
      color: $danger;
      text-decoration: none;
    }
  }
}
.pradesh-menu {
  ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-size: small;
    font-weight: 700;
    margin-left: 1rem;

    li a {
      display: inline-block;
      padding: 0.25rem 0.9rem;
      margin-right: 1px;
      margin-bottom: 1px;
      color: #808080;
      background-color: $secondary;
      transition: all 0.25s ease;

      &:hover, &:active {
        text-decoration: none;
        color: $white;
        background-color: $danger;
      }
    }
    li:first-child a {
      color: $white;
      background-color: $danger;
    }
  }
}
@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
  }
  .logo-area {
    padding-top: 1rem;
  }
  .header-top-meta {
    text-align: center;
  }
  .pradesh-menu ul {
    justify-content: center;
    margin-left: 0;
  }
}
@include media-breakpoint-down(xs) {
  .pradesh-menu ul li a {
    min-width: 6rem;
    text-align: center;
  }
}